@model Web_dienthoai.Models.ThuongHieu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ThuongHieu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
